body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 24px;
    background-color: rgb(39, 39, 39);
    color: rgb(227, 227, 227);
    font-size: 2em;
  }